__pycache__/
*.py[cod]
*$py.class
.env
venv/
*.png
*.jpg
*.jpeg
*.pdf

# Permitir PNG generados en results y seguir ignorando otros
!results/
!results/**/*.png

# Dropbox extended attributes/metafiles
*\:com.dropbox.attrs
*.dropbox*
